# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Python caching
__pycache__/
*.py[cod]
*$py.class

# Mac OS
.DS_Store

# Streamlit specific
.streamlit/credentials.toml

# Datasets / Large files
# (Data is under 100MB, so it can be pushed to GitHub for Streamlit Cloud)
# archive/
# *.csv

# Notebooks
.ipynb_checkpoints
